<form class="add-note" [formGroup]="noteForm" (submit)="addNewNote($event)">
    <div class="note-inputs">
        <div class="input-holder">
            <input class="io" type="text" placeholder="New note title *" formControlName="title">
            <i class="material-icons" *ngIf="controls['title'].dirty && controls['title'].invalid">report</i>
        </div>

        <div class="dropdown">
            <input placeholder="tags like travel, hobby ..." [formControl]="tagsSearch" />

            <div class="added-tags-holder">
                <div class="tag" *ngFor="let tag of addedTags" (click)="removeTag(tag)">
                    <span>{{tag}}</span>
                    <button class="material-icons">close</button>
                </div>
            </div>

            <div class="dropdown-items"
                *ngIf="(tagService.tags | async) | tagFilter:(addedTags):(tagsSearch.value); let filteredTags">
                <button *ngFor="let tag of filteredTags" (click)="addTag(tag.name)">{{tag.name}}</button>
            </div>
        </div>

        <div class="input-holder">
            <textarea class="io" placeholder="Enter note description *" formControlName="description"></textarea>
            <i class="material-icons"
                *ngIf="controls['description'].dirty && controls['description'].invalid">report</i>
        </div>

        <audio [src]="controls['attachment'].value" controls *ngIf="controls['attachment'].value"></audio>
    </div>
    <div class="note-actions">
        <div>
            <button class="avatar mic-recording" [class.recording]="isRecording | async" type="button"
                (pointerdown)="startRecording()" (pointerup)="stopRecording()">
                <i class="material-icons">mic</i>
            </button>
            <button class="add-note-btn" type="button" *ngIf="noteForm.dirty" (click)="resetForm()">
                RESET
            </button>
            <button class="add-note-btn" type="submit">
                ADD
            </button>
        </div>
    </div>
</form>